{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"trailingComma": "all",
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "lf"
}
